*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  max-width: 450px;
  height: 100vh;
  margin: auto;
}
.description {
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
}
.ytVideos {
  text-align: left;
  padding-top: 15px;
  border-top:  1px solid #F2F2F2;;
}
.ytVideos h2{
  font-family: 'Clash Display';
  font-weight: 600;
  font-size: 24px;
}
.ytVideos p{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
}
.taggedproduct-name {
  text-align: left;
  margin-bottom: 10px;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
