.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color:#ffffff !important;   
}

.accordion-button:focus{
    box-shadow: none !important;
}
.accordbtn{
    border-top: 1px solid #F2F2F2;
}

.accordion-button {
    font-family: 'Clash Display';
    font-weight: 500;
}